<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Incident ID: {{ incidents.incident_id }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table>
          <th>Responder</th>
            <tbody>
              <tr>
                <td>{{ incidents.responders.id }}</td>
                <td>
              </tr>
            </tbody>
        </table>
      </td>
      <td>
        <table>
          <th>Details</th>
            <tbody>
              <tr>
                <td>Responder Detail</td>
              </tr>
            </tbody>
        </table>
      </td>
      <td>
         <table>
          <th>Description</th>
            <tbody>
              <tr>
                <td>{{ incidents.</td>
              </tr>
            </tbody>
        </table>
      </td>    
    </tr>
  </tbody>
</table>
