<section class="wrapper">
<h2>Incident Detail</h2>
<div class="col-lg-12 col-md-12 col-sm-12 mb">
  <article class="content-panel pn">
    <div class="darkblue-header">
      <h5><i class="fa fa-fire"></i>Incident Detail</h5>
    </div>
    <div>
      <p class="mt">
        <b>{{ incident.alarms }}</b>
        <br>
        <span data-ng-if="alarms.length > 0">
          Alarms
        </span>
        <span data-ng-else>
          Alarm
        </span>
      </p>
      <p class="mt"><b>{{ incident.type }}</b><br>Type</p>
      <p class="mt"><b>{{ incident.dispatched_at }}</b><br>Dispatched at</p>
    </div>
  </article>
</div>