<div id="map-canvas" style="height: 68%"></div>

<article class="filters">
	<div class="wrapper">
		<div class="row mt no-border">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="content-panel filter-panel">
          <div class="darkblue-header">
            <h4><i class="fa fa-filter"></i> Filters</h4>
					<button class="btn btn-theme03 radial" type="button" data-ng-click="changeRadius()">Change Radius</button>
          <button class="btn btn-theme02 radial" type="button" data-ng-click="toggleHeatmap()">Toggle Heatmap</button>
          <button class="btn btn-theme radial" type="button" data-ng-click="toggleIncidents()">Toggle Incidents</button>
          <button class="btn btn-theme04 radial" type="button" data-ng-click="toggleStations()">Toggle Stations</button>
          </div>
				</div>
			</div>
		</div>
	</div>
</article>
