<section class="wrapper">
  <h2>Station Details </h2>
    <div class="col-lg-12 col-md-12 col-sm-12 mb">
      <div class="content-panel">
        <div class="darkblue-header">
          <h5><i class="fa fa-table"></i> Station Summary </h5>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Total Run Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ station.station_id }}</td>
                  <td>{{ station.address }}</td>
                  <td>{{ station.city }}</td>
                  <td>{{ station.total_runs }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
</section>